body {
    background-color: #F4EBD0;
    font-family: sans-serif;
    text-align: justify;
    
}

h1 {
    color: #122620;
    font-size: 400%;
    text-align: center;
    text-transform: inherit;
}

h2 {
    color: #204238;
    text-align: center;
    font-size: 200%;
    text-decoration: dashed;
}

h3 {
    background-color: #D6AD60;
    color: #204238;
    font-size: 130%;
    font-style: italic;
}

p {
    background-color: #D6AD60;
}

em {
    color: hsl(200, 100%, 40%);
    font-style: normal;
    font-weight: bold;
}

strong {
    color: hsl(200, 100%, 30%);
    font-weight: bold;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 80%;
    box-shadow: 10px 10px #B68D40;
}

address {
    background-color: white;
    font-weight: bold;
    text-align: right;
}

li {
    text-align: justify;
    margin-right: 2%;
    text-transform: lowercase;
    text-transform: initial;
}

a {
    font-size: large;
    color: #204238;
}

nav {
    background-color: #D6AD60;
    width: fit-content;
    margin: auto;
}

.kalnia-1 {
    font-family: "Kalnia", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "10px" 100;
}

.tilt-prism-1 {
    font-family: "Tilt Prism", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    font-variation-settings:
        "XROT" 0,
        "YROT" 0;
}